@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-dark: #05061f;
  --primary-yellow: #eeb542;
  --secondary-blue: #1a1b65;
  --light-gray: #f4f6ff;
}

body {
  margin: 0;
  line-height: normal;
  background-color: var(--primary-dark);
  color: #fff;
  font-family: 'Inter', sans-serif;
}
.animation-delay-200 {
  animation-delay: 0.2s;
}
html {
  scroll-behavior: smooth;
}
